resources/
node_modules/
public/
_vendor/
.DS_store
.hugo_build.lock
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.venv
# GO
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work
go.work.sum

# env file
.env