// Placeholder to quickly add your own styles
// The file is included last in the build pipeline
.clipboard-button {
  opacity: initial !important;
}

.bg-opacity-10 {
  background: linear-gradient(to right, rgba(255, 142, 22, 0.5), rgba(253, 160, 133, 0.5));
}

.col.col-sm-12.col-md-9 {
  word-wrap: break-word !important;
  word-break: break-word !important;
}

// begin theme mode switch  
.theme-switcher {
  position: relative;
}

.theme-header {
  display: flex;
  align-items: center;
  padding: 2px;
  cursor: pointer;
  border-radius: 8px;
  width: 60px;
  height: 40px;
}

.theme-header svg:first-child {
  margin-right: 5px;
}

.theme-options {
  position: absolute;
  top: 100%;
  right: 0;
  border-radius: 8px;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.theme-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;

  cursor: pointer;
}

.save-icon {
  cursor: pointer;
  margin-left: 20px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

// end theme mode switch


.persona {
  max-width: 820px;
}


.datatable-search {
  float: left !important;
}

.datatable-dropdown {
  float: right !important;
}

.datatable-pagination-list button,
.datatable-table th button {
  background-color: inherit;
  border: 0;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-align: inherit;
}

button.datatable-sorter.th-inner {
  border: none;
  background: inherit;
}

.datatable-sorter:after,
.datatable-sorter:before {
  content: "";
  height: 0;
  opacity: .2;
  position: absolute;
  right: 4px;
  width: 0;
}

// for 404
.text-center {
  padding-top: 10px;
}

.datatable-table th button,
.datatable-pagination-list button {
  color: inherit;
  border: 0;
  background-color: inherit;
  cursor: pointer;
  text-align: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}


.tag-card {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  text-align: center;
}

.tag-card:hover {
  transform: translateY(-4px);
}

.tag-card .card-body {
  padding: 1.5rem;
}

.tag-card .card-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

// Lightbox begin
.lightbox-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.lightbox-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  display: flex;
  height: 2.23rem;
  width: 2.25rem;
  flex-shrink: 0;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: #383939;
  opacity: .8;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .2s;
}

.thumbnail-container .image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-height: 400px;
}

.thumbnail-container .image-wrapper {
  flex: 1;

}

.lightbox-icon {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0.5rem;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lightbox-icon .icon {
  width: 2rem;
  height: 2rem;
}

.thumbnail-container:hover .lightbox-icon {
  opacity: 1;
}

// ---- end lightbox ----

.carousel {
  width: auto;
}

.carousel-caption.gradient {
  background-color: inherit;
}


.card-img-wrap img {
  transition: transform 0.25s ease;
  width: 100%;
  max-height: 400px;
  object-fit: scale-down;
}