// Placeholder to quickly add your own styles
// The file is included last in the build pipeline
.bg-opacity-10 {
    background: linear-gradient(to right, rgba(255, 142, 22, 0.5), rgba(253, 160, 133, 0.5));
  }

.col.col-sm-12.col-md-9 {
    word-wrap: break-word !important;
    word-break: break-word !important;
  }   

// begin theme mode switch  
.theme-switcher {
    position: relative;
}
.theme-header {
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
    border-radius: 8px;
    width: 60px;
    height: 40px;
}
.theme-header svg:first-child {
    margin-right: 5px;
}
.theme-options {
    position: absolute;
    top: 100%;
    right: 0;
    border-radius: 8px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
.theme-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;

    cursor: pointer;
}

.save-icon {
    cursor: pointer;
    margin-left:20px;
    margin-right:5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

// end theme mode switch


.persona
{
    max-width: 820px;
}
