{{ $jsonURL := "free_basket_calendar.json" }}

{{ $json := resources.Get $jsonURL }}
{{ if $json }}
{{ $data := transform.Unmarshal $json.Content }}
{{ if $data }}
<p class="text-end">
  <button id="toggleView" class="btn btn-warning">{{ i18n "SwitchCardTableView" }}</button>
</p>
<div id="content">

  <div id="card-view" class="d-none">
    <div class="row">
      <p>
        <input type="search" class="form-control" id="searchBoxInlinePage"
          placeholder="Search for title or language (en or de)...">
      </p>
    </div>
    <div class="row">
      {{ range $index, $item := $data }}
      <div class="col-sm-4 mb-3 mb-sm-1" data-search-content="{{ time.Format " :date_short" (time.AsTime $item.begin) }}
        {{ time.Format ":time_short" (time.AsTime $item.begin) }} {{ $item.name }}">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">{{ with $item.league }}
              {{ if ne . "" }}
                {{ $item.name }} ({{ . }})
              {{ else }}
                {{ $item.name }}
              {{ end }}
            {{ else }}
              {{ $item.name }}
            {{ end }}</h4>
            <h5 class="card-text">{{ time.Format ":date_short" (time.AsTime $item.begin) }} {{
              time.Format ":time_short" (time.AsTime $item.begin) }}</h5>
            <p class="card-muted"><small>{{ $item.description }}</small></p>
          </div>
          <div class="card-footer">
            <p class="text-center">
              {{ if $item.url }}
                <a href="{{ $item.url }}" class="btn btn-info stretched-link" rel="noopener noreferrer">{{ $item.location }}</a>
              {{ else }}
                {{ $item.location }}
              {{ end }}
            </p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>


  <div class="table-responsive" id="table-view">
    <table id="free-basket-streams-table-{{ site.Language.Lang }}" class="data-table table" data-table-sortable="true"
      data-table-paging="true" data-table-searchable="true" data-table-locale="{{ site.Language.Lang }}"
      data-table-labels='{
      "placeholder": "{{ T "tablePlaceholder" }}",
      "searchTitle": "{{ T "tablesSearchTitle" }}",
      "perPage": "{{ T "tablesPerPage" }}",
      "noRows": "{{ T "tablesNoRows" }}",
      "noResults": "{{ T "tablesNoResults" }}",
      "info": "{{ T "tablesInfo" }}"
    }'>
      <thead>
        <tr>
          <th data-sortable="false">{{ i18n "Date" }}</th>
          <th data-sortable="false">{{ i18n "Time" }}</th>
          <th>Teams</th>
          <th>{{ i18n "League" }}</th>
          <th><small>{{ i18n "Description" }}</small></th>
          <th>Channel</th>
        </tr>
      </thead>
      <tbody>
        {{ range $index, $item := $data }}
        <tr>
          <td data-text="{{ $item.begin }}">{{ time.Format ":date_short" (time.AsTime $item.begin) }}</td>
          <td data-text="{{ $item.begin }}">{{ time.Format ":time_short" (time.AsTime $item.begin) }}</td>
          <td>{{ $item.name }}</td>
          <td>{{ $item.league }}</td>
          <td><small>{{ $item.description }}</small></td>
          <td> 
            {{ if $item.url }}
                <a href="{{ $item.url }}" rel="noopener noreferrer">{{ $item.location }}</a>
              {{ else }}
                {{ $item.location }}
              {{ end }}
        </td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
  {{ else }}
  <p>Error: Unable to parse JSON data.</p>
  {{ end }}
  {{ else }}
  <p>Error: Unable to fetch JSON data.</p>
  {{ end }}
</div>