{{ $jsonURL := "free_basket_calendar.json" }}

{{ $json := resources.Get $jsonURL }}
{{ if $json }}
  {{ $data := transform.Unmarshal $json.Content }}
  {{ if $data }}
    <table id="free-basket-streams-table" class="data-table"
          data-table-sortable="true"
          data-table-paging="true"
          data-table-searchable="true">
      <thead>
        <tr>
          <th data-sortable="false">{{ i18n "Date" }}</th>
          <th data-sortable="false">{{ i18n "Time" }}</th>
          <th>Teams</th>
          <th>{{ i18n "Description" }}</th>
          <th>Channel</th>
        </tr>
      </thead>
      <tbody>
        {{ range $index, $item := $data }}
          <tr>
            <td data-text="{{ $item.begin }}">{{ time.Format ":date_short" (time.AsTime $item.begin) }}</td>
            <td data-text="{{ $item.begin }}">{{ time.Format ":time_short" (time.AsTime $item.begin) }}</td>
            <td>{{ $item.name }}</td>
            <td>{{ $item.description }}</td>
            <td>{{ $item.location }}</td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  {{ else }}
    <p>Error: Unable to parse JSON data.</p>
  {{ end }}
{{ else }}
  <p>Error: Unable to fetch JSON data.</p>
{{ end }}
