{{ $currentPage := . }}

<p class="text-end">
<button id="toggleView" class="btn btn-primary">Switch View</button>
</p>

<div id="content">
  <ul id="listView">
    {{ range site.AllPages }}
      {{ if eq .Kind "page" }}
        {{ if not (eq . $currentPage) }}
          <li><a href="{{ .Permalink }}">{{ .Title }} ({{ .Lang }})</a></li>
        {{ end }}
      {{ end }}
    {{ end }}
  </ul>

  <div id="cardView" class="d-none">
    <div class="row gap-3">
      {{ range site.AllPages }}
        {{ if eq .Kind "page" }}
          {{ if not (eq . $currentPage) }}
            <div class="col-sm-6 mb-3 mb-sm-0">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">{{ .Title }}</h5>
                  <p class="card-text">{{ .Lang }}</p>
                  <a href="{{ .Permalink }}" class="btn btn-primary">Read More</a>
                </div>
              </div>
            </div>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>
