{{ $currentPage := . }}

<p class="text-end">
<button id="toggleView" class="btn btn-warning">Switch View</button>
</p>



<div id="content">
  <div class="row">
    <p>
    <input type="search" class="form-control" id="searchBoxInlinePage" placeholder="Search for title or language (en or de)..."> 
  </p>
  </div>
  <div id="listView"> 
    <ul>
      {{ range site.AllPages }}
        {{ if eq .Kind "page" }}
          {{ if not (eq . $currentPage) }}
             <li data-search-content="{{ .Title }} ({{ .Lang }}"><a href="{{ .Permalink }}">{{ .Title }} ({{ .Lang }})</a></li>
          {{ end }}
        {{ end }}
      {{ end }}
    </ul>
  </div>

  <div id="cardView" class="d-none">
    <div class="row">
      {{ range site.AllPages }}
        {{ if eq .Kind "page" }}
          {{ if not (eq . $currentPage) }}
            <div class="col-sm-4 mb-3 mb-sm-1" data-search-content="{{ .Title }} ({{ .Lang }}">
                <div class="card h-100">
                  <div class="card-body">
                    <h5 class="card-title">{{ .Title }} ({{ .Lang }})</h5>
                    <p class="card-text">{{ .Description }}</p>
                    <p class="card-muted"><svg class="svg-inline--fa fas fa-globe fa-fw" fill="currentcolor" aria-hidden="true" role="img" viewBox="0 0 512 512"><use href="#fas-globe"></use></svg> {{ .Lang }}</p>
                  </div>
                  <div class="card-footer">
                    <p class="text-center">
                    <a href="{{ .Permalink }}" class="btn btn-info stretched-link">Read more</a>
                  </p>
                  </div>
                </div>
        
            </div>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>
